*{
  box-sizing: border-box;
}

html{
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input{
  font-family: 'HelveticaNeue-Light', 
  'Helvetica Neue Light', 
  'Helvetica Neue',
  Arial, 
  Helvetica, 
  'Lucida Grande',
  sans-serif;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  word-wrap: break-word;
}

.visible{
  visibility: visible;
  opacity: 1;
  display: block;
  transition: opacity 0.5s liner;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.pages{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.login.page{
  background-color: #000;
}